# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/


# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook Checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# ML / NLP Artifacts (Generated)
# =========================
mlruns/
*.joblib
*.h5
*.ckpt

# =========================
# NLTK Downloaded Data
# =========================
nltk_data/

# =========================
# Test / Cache Files
# =========================
.cache/
.pytest_cache/


